<!DOCTYPE html>
<html lang="hu-HU">

<head>
    <title>OTP BankIT Competition</title>
    <meta name="description" content="Játssz a csúcson a legújabb programozóversenyen! Jelentkezz 2-4 fős csapatoddal, válassz tetszőleges programnyelvet és vidd haza a fődíjat: 500 000 Ft-ot!"/>
    <meta name="keywords" content="otpbank, programming, programmer, competition, student, code, C++, python, erlang, java, c#" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="hu" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#50af31">
    <meta property="fb:app_id" content="2241662412770651">
    <meta property="og:title" content="OTP BankIT Competition">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.otpbankit.hu">
    <meta property="og:site_name" content="OTP BankIT Competition">
    <meta property="og:description" content="Játssz a csúcson a legújabb programozóversenyen! Jelentkezz 2-4 fős csapatoddal, válassz tetszőleges programnyelvet és vidd haza a fődíjat: 500 000 Ft-ot!">
    <meta property="og:image" content="./src/img/site/facebook_share.jpg">
    <link rel="manifest" href="./manifest.json">
    <link rel="shortcut icon" href="./src/img/site/favicon.png">
    <link rel="stylesheet" type="text/css" href="./src/css/0-reset.css">
    <link rel="stylesheet" type="text/css" href="./src/css/1-grid.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/2-nav.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-alert.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-button.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-cookie-banner.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-footer.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-form.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-jumbotron.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-loader.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/3-modal.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/4-main.css" />
    <link rel="stylesheet" type="text/css" href="./src/css/5-scpecial.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '239983389739213');fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=239983389739213&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1683362-56"></script>
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-1683362-56'); </script>

    <nav id="topNav" class="nav top">
        <div class="container">
            <div class="line">
                <div class="left">
                    <a class="brand" href="/" aria-label="Home">
                        <span class="logo" alt="logo"></span>
                    </a>
                </div>
                <div class="d-flex">
                    <a class="d-none-xs mr-1" data-target="#answersModal">
                        <button class="btn primary">Megoldásaim</button>
                    </a>
                    <button class="toggle" type="button" aria-label="collapse">
                        <div class="toggle-icon">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <button id="arrowLeft" class="arrow" v-on:click="moveRoom(1)" :disabled="arrows.left"><i class="fas fa-chevron-circle-left"></i></button>
        <button id="arrowRight" class="arrow" v-on:click="moveRoom(-1)" :disabled="arrows.right"><i class="fas fa-chevron-circle-right"></i></button>
        <div class="grid">
            <div class="grid-background" :style="bgTranslate"></div>
            <div class="heroes" :style="heroesTranslate">
                <div v-for="hero in heroes" class="hero-grid" :style="{ left: hero.position + 'px', cursor: cursor(hero.index) }" v-on:click="openTask(hero.index)">
                    <img class="hero-img" :src="'./src/img/heroes/hero-' + hero.image + '.png'" alt="hero">
                </div>
            </div>
        </div>
    </main>
    <section id="modals">
        <div id="answersModal" class="modal">
            <div class="dimmer">
                <div class="window">
                    <div class="header">
                        <div class="title">Feladat megadás</div>
                        <div class="close-icon">&times</div>
                    </div>
                    <div class="body" id="answers">
                        <div v-if="fetching" class='spinner-loader'>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div v-if="!fetching" id="answerForms">
                            <form v-for="answer in answers" v-on:submit.prevent="onSubmit(answer.index, answer.value)" class="form">
                                <div class="field">
                                    <label>{{ answer.index }}. feladat</label>
                                    <div class="line">
                                        <input
                                            type="text"
                                            name="answer"
                                            v-model="answer.value"
                                            v-bind:disabled="disabled"
                                        >
                                        <button class="btn primary ml-2" type="submit" :disabled="disabled">Mentés</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="taskModal" class="modal large">
            <div class="dimmer">
                <div class="window" :style="{ 'background-image': 'url(./src/img/tasks/bg-' + index + '.jpg)' }">
                    <div class="header">
                        <div class="title">{{ index }}. feladat - {{ task(index).title }}</div>
                        <div class="close-icon">&times</div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="task" v-html="task(index).desc"></div>
                                <div v-if="answer(index)" class="answer mt-1"><strong>A jelenlegi válaszod: {{ answer(index) }}</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="./src/js/1-store.js" type="text/javascript"></script>
    <script src="./src/js/1-ui.js" type="text/javascript"></script>
    <script src="./src/js/2-utils.js" type="text/javascript"></script>
    <script src="./src/js/3-app.js" type="text/javascript"></script>

</body>

</html>