main {
    height: calc(100vh - 7rem);
    overflow: hidden;
    position: relative;
    width: 100%;
}
main::before {
    background: url("../img/bg.jpg") repeat-x left bottom;
    background-color: #fff3d9;
    background-size: cover;
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(0);
    width: 100%;
    z-index: -1;
}

.arrow {
    color: #50af31;
    font-size: 3rem;
    position: absolute;
    top: 40%;
    margin: 0 1rem;
}

#arrowLeft {
    left: 0;
}

#arrowRight {
    right: 0;
}